{% extends 'core/base.html' %}

{% block title %}{{user.username}}{% endblock %}
{% block content %}
  <div class="mt-20 pt-20 pb-6">
    <div class="px-8">  
      <div class="mt-10">
        <h1 class="text-2xl text-center font-bold">My Orders</h1>
        <div class="mt-6 ">
            <div class=" mt-6 mb-4">
              {% if order_items %}
                
                 {% for order_item in order_items %}
                <div class="flex flex-row justify-between max-w-md mx-auto border p-3 bg-gray-200 shadow-lg">
                    <div class="flex flex-col items-center px-2 py-1 border bg-white">
                        <strong class="text-sm">ID</strong>
                        <h1 class="text-xs"><a href="{% url 'my_store_order_detail' order_item.order.id %}">{{order_item.order.id}}</a></h1>
                    </div>
    
                    <div class="flex flex-col items-center px-2 py-1 border bg-white w-52">
                        <strong class="text-sm">Title</strong>
                        <h1 class="text-xs text-center">{{order_item.product.title}}</h1>
                    </div>
                    <div class="flex flex-col items-center px-2 py-1 border bg-white">
                        <strong class="text-sm">Qty.</strong>
                        <p class="text-xs">{{order_item.quantity}}</p>
                    </div>
                    <div class="flex flex-col items-center px-2 py-1 border bg-white">
                        <strong class="text-sm">Price</strong>
                        <h1 class="text-xs"><span>${{order_item.get_display_price}}</span>280</h1>
                    </div>
                </div>
                {% endfor %}
              {% else %}
              <div class="pt-4 flex justify-center"> 
              <p class="text-center capitalize bg-gray-200 p-2 w-60 text-gray-600">You have no pending orders</p>
              </div>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>


<div class="pt-10 mb-10 px-8">
      <div>
        <div class="md:mx-20 xl:mx-36 space-x-8 mt-10 mb-10 flex items-center flex-col-reverse">
        <a href="{% url 'add_product' %}" class="inline-block bg-red-700 px-3 py-1.5 mt-6 text-white capitalize">Add Product</a>
        <h1 class="font-bold text-4xl capitalize text-center pr-8">My Products</h1>
        </div>
        {% if products %}
        <div class="md:mx-20 xl:mx-36 lg:mx-32 grid grid-cols-1 gap-8 md:grid-cols-3 xl:grid-cols-4">
          {% for product in products %}
          <div class="w-60 h-96 rounded-md bg-slate-200 p-5 shadow-lg">
            <a href="{% url 'edit_product' product.id %}"><img src="{{product.image.url}}" alt="" class="w-48 rounded-lg">
            <div class="flex flex-col mt-6">
              <p class="text-red-600 font-semibold text-xl">{{product.title}}</p>
              <h3 class="font-bold text-2xl text-black">{{product.get_display_price}}</h3></a>
            </div>
            <div class="mt-6">
              <button class="w-full bg-red-500 px-2 py-0.5 text-white">Add to cart</button>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center"> 
        <p class=" text-red-600 text-center bg-gray-200 px-8 py-2">Sorry, you don have no product in your store</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}