{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% block title %}Checkout{% endblock %}


{% block content  %}

<div class="pt-28 pb-8 mt-10">
  <div class="container mx-auto px-8">
    <h1 class="text-center font-bold pt-6 mb-6 text-2xl capitalize md:text-4xl">Order Details</h1>
    <p class="pt-6 pb-6 text-red-600"><strong>TOTAL COST:</strong> ${{cart.get_total_cost}}</p>
    <div class="flex justify-center gap-2">
        <div class="flex flex-col border shadow-lg p-4">
          <div class="mt-4">
            {{form.first_name|add_label_class:"text-sm capitalize font-bold"}}
            {% render_field form.first_name class="w-full focus:bg-gray-300 rounded-md bg-slate-400 p-2 text-bold capitalize border" %}
          </div>

          <div class="mt-4">
            {{form.last_name|add_label_class:"text-sm capitalize font-bold"}}
            {% render_field form.last_name class="w-full focus:bg-gray-300 rounded-md bg-slate-400 p-2 text-bold capitalize border" %}
          </div>

          <div class="mt-4">
            {{form.address|add_label_class:"text-sm capitalize font-bold"}}
            {% render_field form.address class="w-full focus:bg-gray-300 rounded-md bg-slate-400 p-2 text-bold capitalize border" %}
          </div>

          <div class="mt-4">
            {{form.zipcode|add_label_class:"text-sm capitalize font-bold"}}
            {% render_field form.zipcode class="w-full focus:bg-gray-300 rounded-md bg-slate-400 p-2 text-bold capitalize border" %}
          </div>

          <div class="mt-4">
            {{form.city|add_label_class:"text-sm capitalize font-bold"}}
            {% render_field form.city class="w-full focus:bg-gray-300 rounded-md bg-slate-400 p-2 text-bold capitalize border" %}
          </div>

          <div id="errors" class="hidden pt-10 pb-6 text-red-600 mt-6 px-8 py-2 bg-gray-200 rounded-lg">

          </div>

          <button class="px-3 py-2 bg-red-700 inline-block mt-6 mb-6 text-white capitalize" onclick="buy(event)">Make Payment</button>
        </div>
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script type="application/javascript" src="https://js.stripe.com/v3/"></script>
<script>
    function validate(first_name, last_name, address, zipcode, city) { 
        let errors = [];
        if (first_name == '') {
            errors.push('Your first name is missing');
        }

        if (last_name == '') {
            errors.push('Your last name is missing');
        }

        if (address == '') {
            errors.push('Your address is missing');
        }

        if (zipcode == '') {
            errors.push('Your zipcode is missing');
        }

        if (city == '') {
            errors.push('the city is missing');
        }

        let html = ''
        for (let i = 0; i < errors.length; i++) {
            html += errors[i] + '<br>';
        }
        let errorsElement = document.getElementById('errors');
        if (errors.length) {
            errorsElement.classList.remove('hidden');
            errorsElement.innerHTML = html;
            return false
        }else{
            errorsElement.classList.add('hidden');
            return true;
        }
    }
    function buy(event) {
        event.preventDefault();

        const first_name = document.getElementById('id_first_name').value;
        const last_name = document.getElementById('id_last_name').value;
        const address = document.getElementById('id_address').value;
        const zipcode = document.getElementById('id_zipcode').value;
        const city = document.getElementById('id_city').value;

        if (validate(first_name, last_name, address, zipcode, city)) { 
            let data = {
                'first_name' : first_name,
                'last_name' : last_name,
                'address' : address,
                'zipcode' : zipcode,
                'city' : city
            }
            

            let stripe = Stripe('{{pub_key}}');
            fetch('/cart/checkout/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{csrf_token}}'

                },
                credentials:'same-origin',
                body:JSON.stringify(data)
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(session) {
                return stripe.redirectToCheckout({'sessionId':session.session.id})
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message)
                }
            })
            .catch(function(error) {
                alert(error)
            });
        }
        return false;
    }
</script>
{% endblock %}