{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div>
    <div class="mt-20 pt-16 md:pt-20 pb-6 px-8 md:px-16">

        <div class="flex flex-col items-center md:flex-row">
            <div class="md:basis-1/2 lg:basis-2/5 xl:basis-2/5">
            <img src="{% static 'images/herosectionPics.png' %}" alt="" class="md:w-full">
            </div>

            <div class="text-center md:text-start xl:text-start md:basis-1/2 lg:basis-3/5 xl:basis-3/5">
            <h1 class="text-4xl text-red-700 font-bold md:text-6xl xl:text-9xl">Shop <br><span class="text-black">Affordably</span></h1>
            <p class="leading-5 pt-4 text-sm md:text-lg">Discover our affordable stylish shoes. Perfect for every occasions and functions</p>
            </div>
        </div>
    </div>

    <div class="px-8 pt-10 pb-6">
        <div class="flex flex-col items-center md:flex-row gap-6">
            <div class="relative bg-slate-200 h-52 w-52 md:flex-2 lg:flex-1">
                <img src="{% static 'images/reviewImage_1.png' %}" alt="" class="absolute lg:w-80 2xl:w-96 lg:-top-20 lg:left-10 xl:-top-20 2xl:-top-28">
                <div class="absolute top-24 left-8 lg:left-28 2xl:left-32">
                <h3 class="text-black font-semibold bg-opacity-50 px-3 py-1 bg-white">#NewSneakers</h3>
                </div>
            </div>

            <div class="bg-slate-400 h-52 w-52 hover:bg-slate-300 duration-500 md:flex-1 lg:flex-1 relative">
                <div class="flex flex-col text-start pt-16 pl-4">
                <h3 class="text-black text-lg font-bold">Get 50% off</h3>
                <p class="text-black text-sm">Our new summer release.</p>
                </div>
                <button class="mt-1 ml-4 inline-block p-2 py-1 bg-black bg-opacity-55 text-white capitalize">explore now</button>
            </div>

            <div class="relative bg-slate-200 h-52 w-52 md:flex-2 lg:flex-1">
                <img src="{% static 'images/newbalance.png' %}" alt="" class="absolute w-48 pl-1 md:w-60 2xl:w-72 lg:-top-8 lg:left-12 xl:-top-6 2xl:-top-14 2xl:left-20">
                <div class="absolute top-24 left-12 lg:top-24 lg:left-28 xl:left-28 2xl:left-32">
                <h3 class="text-black font- bg-opacity-50 font-semibold px-3 py-1 bg-white">#ClassyLooks</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-16 pb-10 px-8">
        <div>
            <h1 class="font-bold text-4xl pt-10 capitalize pb-10 text-center pr-8">New Arrivals</h1>
            <div class="md:mx-20 xl:mx-36 lg:mx-32 grid grid-cols-1 gap-8 md:grid-cols-3 xl:grid-cols-4 w-auto">
                {% for product in products %}
                <div class="w-60 h-96 rounded-md bg-slate-200 p-5 shadow-lg">
                {% if product.image %}
                <a href="{% url 'product_detail' product.category.slug product.slug %}"><img src="{{product.image.url}}" alt="" class="w-48 rounded-lg overflown-hidden"></a>
                {% endif %}
                <div class="flex flex-col mt-6">
                    <p class="text-red-600 font-semibold text-xl">{{product.title}}</p>
                    <h3 class="font-bold text-2xl text-black">${{product.get_display_price}}</h3>
                </div>
                <div class="mt-6">
                    <a href="{% url 'add_to_cart' product.id %}" class="w-full bg-red-500 px-2 py-0.5 text-white">Add to cart</a>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}